.card {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #555;
}

.card p {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}